#window{
    background-color:cyan;
}

main{
    margin: 0 auto;
    width: 30em;
}

#display{
    display: flex;
    flex-direction: row;
}
#clear{
    width: 23%;
}
#window{
    border: black solid 1px;
    width: 75%;
    font-size: 4em;
    text-align: right;
}

#buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
button{
    font-size: 4em;

}
#numbers{
    display:inline-block;
    width:69%;
}
#numbers > button{
    width: 32%;
}

#operators{
    width: 29%;
}

#operators > div{
    display:flex;
    flex-direction: column;
    text-align: center;

}

#clear{
    background-color:rgb(223, 114, 114)
}

.operator, #equals{
    background-color: rgb(65, 223, 65);
}


